h1{
    color: aqua;
}
h2{
    color: beige;
}
h3{
    color: black;
}
h4{
    color: black;
}
P{
    color: antiquewhite;
}
.background_image {
    background-image: url(/Image/Traditionalreligion.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main_content {
    color: black;
    padding: 100px 20px;
}